[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = asd
[access "refs/*"]
	owner = group user/mlaptev
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mlaptev
	label-Verified = -1..+1 group user/mlaptev
	push = group user/mlaptev
	read = group user/mlaptev
	rebase = group user/mlaptev
	removeReviewer = group user/mlaptev
	submit = group user/mlaptev
[access "refs/heads/*"]
	create = group user/mlaptev
	push = +force group user/mlaptev
	pushMerge = group user/mlaptev
	read = group user/mlaptev
[access "refs/tags/*"]
	push = group user/mlaptev
	push = +force group user/mlaptev
